/* Container */
.full-screen {
    display: flex;
    width: 100vw; /* w-screen */
    height: 100vh; /* h-screen */
    align-items: center; /* items-center */
    justify-content: center; /* justify-center */
    flex-direction: column; /* flex-col */
    gap: 1.25rem; /* gap-5 */
    background-image: url('/Home bg.jpg'); /* background image */
    background-size: cover; /* bg-cover */
    background-position: center; /* bg-center */
    position: relative; /* relative */
}

/* Overlay */
.overlay {
    position: absolute; /* absolute */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6); 
}

.content {
    position: relative; 
    z-index: 10; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    gap: 1.25rem; 
}

.title {
    color: white; 
    text-align: center;
}

.developer {
    position: relative; 
    z-index: 11; 
}

.developer-text {
    color: #E5E7EB; 
    margin-top: 1rem; 
    font-size: 1.125rem; 
}

.developer-name {
    font-size: 1.25rem; 
    animation: pulse-animation 1s infinite; 
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to right, #A855F7, #EC4899, #EF4444);  
}

@keyframes pulse-animation {
    0%, 100% {
        opacity: 1;
    }
    
    50% {
        opacity: 0.5;
    }
}