/* Footer.css */

.footer {
    width: 100vw;
    border-top: 1px solid #e5e7eb; /* Tailwind's border-t-gray-200 */
  }
  
  .footer-container {
    padding: 5rem 2.5rem;
    display: flex;
    gap: 2.5rem;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .logo {
    padding-bottom: 1.25rem;
  }
  .footer-upper{
    display: flex;
    flex-direction: column;
    gap: 10;
    justify-content: center;
  }
  
  .footer-title {
    font-weight: bold;
  }
  
  .footer-subtitle {
    font-size: 0.875rem; /* Tailwind's text-sm */
    max-width: 28rem; /* Approximation of Tailwind's max-w-lg */
  }
  
  .subscribe-container {
    display: flex;
    gap: 2.5rem;
    align-items: center;
    padding-top: 1rem;
    padding-left: 0.5rem;
  }
  
  .services-section,
  .all-access-section,
  .information-section {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding-top: 2rem;
    font-size: 0.875rem; /* Tailwind's text-sm */
  }
  
  .footer-info {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 2.5rem;
    border-top: 1px solid #d1d5db; /* Tailwind's border-t-gray-300 */
  }
  
  .footer-credit {
    font-size: 0.875rem; /* Tailwind's text-sm */
  }
  
  .social-icons {
    display: flex;
    gap: 0.5rem;
    font-size: 1.25rem; /* Tailwind's text-xl */
  }
  
  .text-destructive {
    color: #f87171; /* Tailwind's text-destructive */
  }
  

  .information-section-list,.services-section-list,.all-access-section-list{
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }


  .grid-container {
    display: grid;
    justify-content: space-evenly;
    gap: 2.5rem; /* 10 in Tailwind CSS spacing scale */
    padding-left: 2.5rem; /* px-10 */
    padding-right: 2.5rem;
    padding-top: 2.5rem; /* pt-10 */
}

@media (max-width: 640px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr); /* sm:grid-cols-1 */
    }
    .footer-container{
      display: flex;
      flex-direction: column;
    }
}

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr); /* md:grid-cols-2 */
    }

}

@media (min-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr); /* lg:grid-cols-3 */
    }
}
